<%- include('partials/head', {title: title}) %>
  <body>
    <div class="container">
    <h1>Update Product</h1>
    <form action="/product/<%= product._id %>/update" method="POST">
      <div class="mb-3">
      <label for="title">Title:</label>
      <input type="text" name="title" value="<%= product.title %>" required><br>
      </div>  

      <div class="mb-3">
      <label for="brand">brand:</label>
      <input type="text" name="brand" value="<%= product.brand %>" required><br>
      </div>  

      <div class="mb-3">
      <label for="description">Description:</label>
      <textarea name="description"><%= product.description %></textarea><br>
      </div>  

      <div class="mb-3">
      <label for="price">Price:</label>
      <input type="number" name="price" min="0" value="<%= product.price %>" required><br>
      </div>
      
      <div class="mb-3">
      <label for="stock">Stock:</label>
      <input type="number" name="stock" min="0" value="<%= product.stock %>" required><br>
      </div>

      <input type="submit" value="Update" class="btn btn-primary mb-3">
    </form>
    </div>
  </body>
</html>